@import url('./colors.css');
@import url('./entry.css');
@import url('./annuals.css');
@import url('./periods.css');

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background: var(--color-background);
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.4em;
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: [header] 1.5cm [article] 1fr 1.5cm [footer];
  gap: 0px 0px;
  height: 100%;
}

footer {
  background-color: var(--color-background-secondary);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
}

footer .btn {
  align-items: center;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  height: 4rem;
  justify-content: center;
  text-decoration: none;
  width: 4.4rem;
  ;
}

footer .btn:hover {
  background-color: var(--color-background-secondary);
}

/******************************/

.btn {
  background-color: var(--color-button);
}

label:has(+ input[required])::after {
  content: "*";
  color: red;
  margin-left: 0.5rem;
}